<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.viewtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FlowActivity" />
        <activity android:name=".activity.WaterFallActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.SpringActivity" />
        <activity android:name=".activity.RadialGradientActivity" />
        <activity android:name=".activity.LoadButtonActivity" />
        <activity android:name=".activity.LyricsActivity" />
        <activity android:name=".test.WordActivity" />
        <activity android:name=".test.NewWordActivity" />
        <activity android:name=".activity.RefreshActivity" />
        <activity android:name=".activity.BottomLayoutActivity" />
        <activity android:name=".activity.ScrollActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.LoadViewActivity" />
        <activity android:name=".activity.HeaderLayoutActivity" />
        <activity android:name=".activity.CalendarActivity"></activity>
    </application>

</manifest>